#footer {
    background-color:rgb(237, 239, 238);
    display: inline-flex;
    align-items: center;
    padding: 5% 20% 15% 20%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 15%;
}

.footernav {
    margin: 5%;
}

.logo {
    max-width: 50%;
}

.logo img {
    width: 100%;
    border-radius: 0;
}

.header {
    font-weight: 600;
    width: max-content;
}

.links ul {
    list-style-type: none;
    padding: 0;
}